html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,
dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,
th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  /*font-size: 100%;
  font: inherit;
  vertical-align: baseline;*/
}
html {
  height: 100%;
}
body {
  /*height: 100%;*/
  font: 18px/23px Times New roman, "GothaProLig", "DINNextCYR-Light", Arial, Tahoma, sans-serif;
  color: #fff;
  background: #000;
  width: 1920px;
  height: 1080px;
  overflow: hidden;
}
ol,
ul, li {
  list-style: none;
}
* {
  margin: 0;
  outline: none;
  padding: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;


  -ms-user-select: none;
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;

  /* Keyword values */
  touch-action: none;
  -webkit-tap-highlight-color: transparent;
}
a,
a:hover {
  color: #000;
  text-decoration: none;
}
input {
  -webkit-appearance: none;
}


/********************************************************/
/*                      МИКСИНГИ                        */
/********************************************************/
*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.mgb15 {
  margin-bottom: 15px;
}


.wraper {
  padding: 40px 33px;
}

.header {
  display: flex;
  justify-content: flex-end;
  overflow: hidden;
  margin-bottom: 30px;
  text-align: right;
}

.search__wraper {
  width: 453px;
  margin-right: 10px;
  border: 1px solid #4986D5;
  border-radius: 50px;
  overflow: hidden;
  height: 57px;
  position: relative;
}

.search {
  border: none;
  display: block;
  width: 100%;
  height: 100%;
  padding: 0 10px;
  background: rgba(196, 196, 196, 0.14);
  /*color: rgba(62,62,62,1);*/
  color: #fff;
  font-size: 24px;
  padding-left: 65px;
  /*position: relative;*/
}

.search__wraper:before {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  width: 57px;
  height: 57px;
  display: block;
  background: url('../images/lp.png') no-repeat center center;
}

.search__input {
  width: 214px;
  height: 57px;
  background: #404D67;
  border-radius: 50px;
  font-size: 24px; 
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  position: relative;
}


.blocks__wrap {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 2fr 2fr 1fr;
  grid-gap: 11px;
}

.block__grid {
  /*background: #ccc;*/
}


/*.block-1__grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.block-1-grid__cell:nth-child(1) {
  height: 300px;
  width: 100%;
  background: #ccc;
  margin-bottom: 19px;
}


.block-1-grid__cell:nth-child(2) {
  margin-right: 19px;
} 
.block-1-grid__cell:nth-child(2),
.block-1-grid__cell:nth-child(3) {
  width: 142px;
  height: 142px;
  background: #ccc;
  margin-bottom: 19px;
}  


.block-1-grid__cell:nth-child(4) {
  margin-right: 19px;
} 
.block-1-grid__cell:nth-child(4),
.block-1-grid__cell:nth-child(5) {
  width: 142px;
  height: 142px;
  background: #ccc;
  margin-bottom: 19px;
} 


.block-1-grid__cell:nth-child(6) {
  height: 300px;
  width: 100%;
  background: #ccc;
  margin-bottom: 19px;
}*/


/* 2 block */
.block-2__grid {

}

.block-2__row-1 {
  margin-bottom: 15px;
  display: flex;
  justify-content: space-between;
}

.row-1__part {
  width: 297px;
  /*height: 297px;*/
}




.three-images__wrap,
.three-images__wrap-reverse {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 100%;
  overflow: hidden;
}

.three-images__wrap .cell__image,
.three-images__wrap-reverse .cell__image {
  height: 142px;
  width: 142px;
}

.three-images__wrap .cell__image:nth-child(1),
.three-images__wrap-reverse .cell__image:nth-child(3) {
  width: 100%;
  height: 297px;
  margin-bottom: 15px;
}

.three-images__wrap-reverse .cell__image:nth-child(3) {
  margin-bottom: 0;
  margin-top: 15px;
}


.three-columns {
  display: flex;
  justify-content: space-between;
}
.three-images__small {
  margin-bottom: 14px;
}

.three-images__small .cell__image {
  height: 142px;
  width: 142px;
}

.three-columns__column .three-images__wrap,
.three-columns__column .three-images__wrap-reverse {
  width: 297px;
}

@keyframes splash {
    0% {
        background: rgba(255,255,255, 0.2);
    }
    
    50% {
        background: rgba(255,255,255, 0.1);
    }
    
    100% {
        background: rgba(255,255,255, 0.2);
    }
}

.cell__image {
  /*background: blue;*/
  /*background: rgba(255,255,255,.1);*/
  /*animation: splash 5s infinite;*/
  /*background: url('../images/2.png') no-repeat center center;*/
  background-size: cover;
  filter: grayscale(100%);
  position: relative;
  overflow: hidden;
  transition: all 1s ease-in-out;
}

.cell__image .c-img {
  filter: grayscale(100%);
  background: none;
  position: relative;
  overflow: hidden;
  display: block;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: all 1s ease-in-out;
}

.cell__image-animated:after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  /*animation: splash 5s infinite;*/
}

.cell__image-animated:before {
  content: '';
  position: absolute;
  top: 0;
  left: -400px;
  width: 100%;
  height: 100%;
  background: linear-gradient(90deg, transparent, rgba(255,255,255,0.1), transparent);
  transform: skewX(-35deg);
  transition: 0.2s;
  animation: slide 5s infinite;
  /*animation-delay: 5s;*/
}

@keyframes slide {
    0% {
        left: -400px;
    }
    
    100% {
        left: calc(100% + 400px);
    }
}








/* ////////// */

.card {
   perspective: 900px;
   position: relative;
}

.is-switched .card__wrapper {
    animation: rotate 2s linear both;
  }

  .card__wrapper {
    transform-style: preserve-3d;
    animation: rotate-inverse 2s linear both;
  }

 .card__side {
    backface-visibility: hidden;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
 }

.card__side .is-active {
      position: static;
  }

.card__side--back {
    transform: rotateY(180deg);
}

@keyframes rotate {
  0% {
    transform: rotateY(0);
  }
  70% {
    transform: rotateY(200deg);
  }
  100% {
    transform: rotateY(180deg);
  }
}

@keyframes rotate-inverse {
  0% {
    transform: rotateY(180deg);
  }
  70% {
    transform: rotateY(-20deg);
  }
  100% {
    transform: rotateY(0);
  }
}
.card {
   margin: 2rem auto;
   max-width: 1000px;
}
.card__side {
   padding: 1em;
   border-radius: 5px;
   color: white;
   /*background-color: #ff4136;*/
   background: #000;
   /*position: relative;*/
}
.card__side--back {
   /*background-color: #0074d9;*/
}

.card__side--front {
  background: #000;
}

.card {
  display: none;
  text-align: center;
}


.cardBox-wrap {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: none;
}
.card img,
.card video {
  max-width: 100%;
  max-height: 100%;
  display: inline-block;
}

.card h2 {
  width: 100%;
  display: block;
  text-align: left;
  color: #fff;
  margin: 20px 0;
}

.card__side .close {
  position: absolute;
  right: -15px;
  top: -15px;
  width: 50px;
  height: 50px;
  background: #fff;
  border: 4px solid #000;
  border-radius: 50%;
}

.close:before, .close:after {
  position: absolute;
  left: 18px;
  content: ' ';
  height: 33px;
  top: 4px;
  width: 5px;
  background-color: #333;
}
.close:before {
  transform: rotate(45deg);
}
.close:after {
  transform: rotate(-45deg);
}



/* ////////// */


#mlkeyboard {
  /*display: block !important;*/
}

div#mlkeyboard ul {
  background: #000;
  padding: 30px 20px;
}

div#mlkeyboard ul li {
  background: #272727;
  border: 1px solid transparent;
  width: calc(50px * 1.5);
  height: calc(50px * 1.5);
  line-height: calc(50px * 1.5);
}

div#mlkeyboard ul li.active,
div#mlkeyboard ul li:hover {
    background-color: #565656;
    border-color: #565656;
}

div#mlkeyboard ul #mlkeyboard-backspace {
  width: calc(66px * 1.5);
}

div#mlkeyboard ul #mlkeyboard-tab {
  width: calc(65px * 1.5);
}

div#mlkeyboard ul #mlkeyboard-capslock {
  width: calc(75px * 1.5);
}

div#mlkeyboard ul #mlkeyboard-return {
  /*width: calc(76px * 1.5);*/
  width: 142px;
}

div#mlkeyboard ul #mlkeyboard-left-shift {
  /*width: calc(100px * 1.5);*/
  width: 169px;
}

div#mlkeyboard ul #mlkeyboard-right-shift {
  /*width: calc(100px * 1.5);*/
  width: 169px;
}

div#mlkeyboard ul #mlkeyboard-space {
  width: 1155px;
}

div#mlkeyboard ul {
  width: 1158px;
  /*width: calc(670px * 1.5);*/
  /*width: auto;*/
  height: auto;
  overflow: hidden;
  font-size: 17px;
}





.main {
  /*display: none;*/
}

.searching {
  display: none;
}

.searching-grid {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-gap: 25px;
}

.searching-box {
  position: relative;
  background: url('../images/1.png') no-repeat center center;
  background-size: cover;
  filter: grayscale(100%);
}
.searching-box:before {
  content: ' ';
  display: block;
  width: 100%;
  padding-top: 100%;
}

.return_back {
  font-size: 18px;
  color: rgba(206,206,206,1);
}

.searching-text {
  font-size: 24px;
  margin: 15px 0 25px;
}
